<section id="contact" class="section-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Any further questions?</h3>
                    <p class="text-center text-muted">Feel free to say hello on
                      <a id="contact-twitter" href="https://twitter.com/vslrgrssn">Twitter</a>
                      or <a id="contact-email" href="mailto:visual-regression@xiphe.net">send an email</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
