    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <div class="pricing-section pricing-section-free">
                    <h4 class="service-heading">Free for Open Source</h4>
                    <p class="text-muted">
                      We'd love to make this service free for the
                      Open Source community. Right now we're serching for sponsors.
                    </p>
                    <p>
                      <a href="#contact" class="page-scroll btn btn-default">become a sponsor</a>
                    </p>
                    <p class="text-muted">
                      We can send a notification
                      when the free tear is available
                    </p>
                    <p class="text-success notify-free-success">✔ Sweet! We'll keep you informed</p>
                    <form method="post" action="https://zkj0zst12h.execute-api.eu-central-1.amazonaws.com/prod/notify-free">
                      <p>
                        <input type="text" name="contact" class="form-control" placeholder="email@example.org or @twitterHandle">
                        <input type="hidden" name="redirect" value="{{ '?notify-free=ok#pricing' | prepend: site.url }}" />
                      </p>
                      <p>
                        <input class="btn btn-primary" type="submit" value="submit" />
                      </p>
                    </form>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-section pricing-section-standard">
                    <h4 class="pricing-standard-price">10€</h4>
                    <h4>per Month<br/ >&amp; Project</h4>
                    <p class="text-muted">
                      Simple as that :)
                    </p>
                    <p>
                      <button class="btn btn-xl">Sign Up</button>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-section pricing-section-more">
                    <h4 class="service-heading">Have lots of Projects?</h4>
                    <p class="text-muted">
                      Need a discount for your business?
                    </p>
                    <p>
                      <a href="#contact" class="page-scroll btn btn-default">Get in touch</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
