    <section id="setup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Setup</h2>
                    <h3 class="section-subheading text-muted">It's pretty simple!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="service-heading">Install the cli</h4>
                    <p class="text-muted">
                      <code>npm install -g visual-regression-cli</code>
                    </p>
                    <p class="text-muted">
                      ensure <a href="https://nodejs.org">nodejs</a> is available in your environment
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Setup your project</h4>
                    <p class="text-muted">
                      In your project folder execute
                    </p>
                    <p class="text-muted">
                      <code>visual-regression setup</code>
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Create Snapshots</h4>
                    <p class="text-muted">
                      From within your existing unit or integration tests,
                      simply post HTML+CSS to our service.
                    </p>
                    <p class="text-muted">
                      Check out the
                      <a href="https://github.com/visualregression/api-documentation">
                        API documentation
                      </a>.
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Done</h4>
                    <p class="text-muted">
                      We'll analyze the snapshots and inform you about potential
                      visual regression cases.
                    </p>
                </div>
            </div>
        </div>
    </section>
