    <section id="workflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workflow</h2>
                    <h3 class="section-subheading text-muted">Perfectly fits in your GitHub + CI Workflow</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">1. Propose a Change</h4>
                    <img class="workflow-image" src="{{ 'img/propose_a_change.png' | prepend: site.baseurl }}" alt="" />
                    <p class="text-muted workflow-text">
                      Once visual-regression set up, just continue to open
                      Pull Requests on GitHub.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">2. Receive Warnings</h4>
                    <img class="workflow-image" src="{{ 'img/receive_warnings.png' | prepend: site.baseurl }}" alt="" />
                    <p class="text-muted workflow-text">
                      If there are visual changes, a preview of these will be
                      commented on the Pull Request.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">3. Approve or Reject</h4>
                    <img class="workflow-image" src="{{ 'img/approve_or_reject.png' | prepend: site.baseurl }}" alt="" />
                    <p class="text-muted workflow-text">
                      You can directly approve or reject the changes from within
                      the Pull Request.
                    </p>
                </div>
            </div>
        </div>
    </section>
